@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);
/* ----------------------------------------------------------------------------------------------- */
html{
    scroll-behavior: smooth;
}
/* ----------------------------------------------------------------------------------------------- */
.pg-pagina-inicial, .pg-historia, .pg-integrantes,.pg-historia-complemento, .pg-discografia{
    width: 100%;
    height: 100vh;
}
.pg-pagina-inicial{
    background-color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
}
/* ----------------------------------------------------------------------------------------------- */
.img-soad{
    height: 100%;
}
.img-soad img{
    height: 100%;
}
/* ----------------------------------------------------------------------------------------------- */
.texto-pg-inicial{
    height: 100%;
    align-content: center;
    padding: 0px 30px;
    text-align: justify;
    color: white;
}
.texto-pg-inicial h1{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}
.texto-pg-inicial p{
    font-size: 20px;
    padding-top: 30px;
}
/* ----------------------------------------------------------------------------------------------- */

.pg-historia{
    background-color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.texto-pg-historia{
    line-height: 1.5;
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: justify;
    color: white;
}

.pg-historia-complemento{
    background-color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.texto-pg-historia-complemento{
    line-height: 1.6;
    height: 100%;
    width: 100%;
    padding: 2px 15px;
    text-align: justify;
    color: white;
}
.pg-historia, .pg-historia-complemento h1{
    font-size: 24px;
}
.pg-historia, .pg-historia-complemento p{
    font-size: 20px;

}
.span-texto{
    text-decoration: underline;
}
.img-pg-historia{
    align-items: center;
    text-align: center;
    height: 100%;
}
.img-pg-historia img{
    height: 100%;
}
/* ----------------------------------------------------------------------------------------------- */
.pg-integrantes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(13, 13, 13);
}
/* ----------------------------------------------------------------------------------------------- */
.integrante-card{
    background-color: rgba(255, 255, 255, 0.37);
    color: rgb(13, 13, 13);
    width: 20%;
    height: 65%;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-out 0.3;
}

.integrante-card:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* ----------------------------------------------------------------------------------------------- */
.integrante-card img{
    display: block;
    width: 100%;

}
/* ----------------------------------------------------------------------------------------------- */
.integrante-card figcaption{
    text-align: center;
    padding: 2px;
}

.integrante-card figcaption h1{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 30px;
}
.integrante-card figcaption p{
    font-size: 24px;
}
/* ----------------------------------------------------------------------------------------------- */
.pg-discografia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(13, 13, 13);
}
/* ----------------------------------------------------------------------------------------------- */
.album-card{
    background-color: rgba(255, 255, 255, 0.568);
    color: rgba(0, 0, 0, 0.76);
    width: 16%;
    height: 60%;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-out 0.3;
    text-align: center;
}

.album-card:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* ----------------------------------------------------------------------------------------------- */
.album-card img{
    display: block;
    width: 100%;

}
/* ----------------------------------------------------------------------------------------------- */
.album-card figcaption{
    padding: 5px;
}
.album-card figcaption h2{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 18px;
}
.album-card figcaption p{
    text-align: center;
    font-size: 15px;
}


