/* -HEADER---------------------------------------------------------------------------------------------- */
.header{
    position: fixed; /*Vai sair do fluxo e vai ficar fixo, não se usa margem*/
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.568);
}
/* ----------------------------------------------------------------------------------------------- */
.logo{
    height: 100%;
    width: 20%;
    padding: 0px 10px;
    align-content: center;
}
.logo img{
    width: 100%;
}
/* ----------------------------------------------------------------------------------------------- */
.menu{
    height: 100%;
    width: 60%;
    padding: 0px 30px;
    align-content: center;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu a{
    color: black;
}
.menu li{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3 ease, color 0.3 ease; 
}
.menu li:hover{
    background-color: black;
    color: white;
}
/* ----------------------------------------------------------------------------------------------- */
.barra-pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    width: 20%;
}
.barra-pesquisa img{
    height: 50%;
}
.barra-pesquisa input{
    width: 80%;
    height: 60%;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
}
/* ----------------------------------------------------------------------------------------------- */